html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba(84, 51, 255, 0.5)),
      to(rgba(165, 254, 203, 0.5))
    ),
    url(img/Chaotic.png);
  background-image: linear-gradient(
      to right bottom,
      (rgba(84, 51, 255, 0.5)),
      (rgba(165, 254, 203, 0.5))
    ),
    url(img/Chaotic.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.heading-primary-main {
  color: #fff;
  font-size: 10rem;
}

.heading-primary-sub {
  display: block;
  font-size: 10 rem;
  letter-spacing: 1rem;
  text-shadow: #333 5px 5px;
}
