@import "./variable" $fontMain: @function color($color-name) {
    @return map-get($colors, $color-name);
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
  }
  .container {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .header {
  height: 10vh;
  width: 25vw;
}
  .heading {
  height: 8vh;
  width: 20vw;
}
  .chat-paragraph {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(primary), 0.5),
        rgba(color(primary-light), 0.5)
      ),
      url(img/Chaotic.png);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
  }
  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
  }
  .primary-main {
    color: #fff;
    font-size: 10rem;
  }
  .primary-sub {
    display: block;
    letter-spacing: 1rem;
    text-shadow: #333 5px 5px;
  }